@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: theme("colors.amber.DEFAULT");
  color: theme("colors.graphite.950");
}

body {
  -webkit-font-smoothing: antialiased;
}
