@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: theme("colors.amber.DEFAULT");
  color: theme("colors.graphite.950");
}

body {
  -webkit-font-smoothing: antialiased;
}
@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(.88);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}